<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% tasks.forEach(task => { %>
          <li>
            <input type="checkbox" id="taskCheckbox<%= task._id %>" name="completed" <%= task.completed ? 'checked' : '' %> onchange="toggleCompletion('<%= task._id %>')">
            <label for="taskCheckbox<%= task._id %>"><%= task.name %></label>
          </li>
        <% }); %>
        </ul>

        <script>
            function toggleCompletion(taskId) {
              fetch(`/tasks/toggle/${taskId}`, {
                method: 'POST',
              });
            }
          </script>
</body>
</html>


